@tailwind base;
@tailwind components;
@tailwind utilities;
.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slide {
  scroll-snap-align: start;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  
}
.img-box-papp{
  /* border:0; */
  /* box-shadow: 0 1px 2px 0 rgba(115, 118, 121, 0.804),0 1px 3px 1px rgba(101, 106, 109, 0.771); */
  border-radius: 0.75rem;
  /* margin: 0.25rem; */

}
.img-box-pscr{
  border:0;
  box-shadow: 0 1px 2px 0 rgba(115, 118, 121, 0.804),0 1px 3px 1px rgba(101, 106, 109, 0.771);
  border-radius: 0.75rem;
  margin: 0.25rem;
  margin-right: 10px;
  margin-left: 10px;

}
.box {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}
.eachplatform{
  @apply m-3 p-2 border border-gray-300 whitespace-nowrap ;
}
.eachapp{
  @apply flex justify-center hover:bg-slate-200 hover:rounded-xl hover:text-gray-700;
}
.sectitle{
  margin: 0 0 0 1.75em;
  /* padding-left: 5%; */
  font-size: large;
  font-weight: 700;
  /* @apply ; */
  /* letter-spacing: -.02em; */
  /* color: ; */
}
.title{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(0.25turn, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8em;
}
/* body {
  background-color: #000;
} */


/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  } */
  .screen1,
  .screen2,
  .screen3
   {
    display: block;
    width: 900px;
    height: 650px;
    overflow: hidden;
    position: relative;
    /* border: 2px solid #b3b3b3; */
    border-radius: 1px;
    margin: 0 auto;
    transition: z-index 0.25s ease-in-out;
  }
  /* .screen-1{
    bottom: -100%;
  }
  
  .screen-2{
    bottom: -195%;
  }
  
  .screen-3{
    bottom: -440%;
  } */
  .screen1:hover {
    z-index: 1; /* Increase the z-index value */
    transition: z-index 0.25s ease-in;
  } 
  .screen2:hover {
    z-index: 1; /* Increase the z-index value */
  } 
  .screen3:hover {
    z-index: 1; /* Increase the z-index value */
  }
  .screen1 img {
    bottom: -100%; 
    /* bottom: -195%; amz */
    /* bottom: -440%; gh */

    /* bottom: -950px; */
    /* bottom: -1815px; */
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .screen2 img {
    bottom: -195%; 
    /* bottom: -195%; amz */
    /* bottom: -440%; gh */

    /* bottom: -950px; */
    /* bottom: -1815px; */
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .screen3 img {
    bottom: -448%; 
    /* bottom: -195%; amz */
    /* bottom: -440%; gh */

    /* bottom: -950px; */
    /* bottom: -1815px; */
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .screen1:hover img,
  .screen2:hover img,
  .screen3:hover img
   {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  }

  h1{
    font-weight: 900;
}
h2{
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 10px;

}
h3{
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}
h4{
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pol{
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
}